#css-jacobbrown {

    background-color: #F0F0F0;
    background-position:center;
    background-repeat: repeat-x;
    background-attachment: fixed;


}

#main-nav {

    background-color: #000000;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;

}

#main-nav-superior {

    list-style-type: none;
    overflow: hidden;
    display: flex;
    padding: 0;
    border-top: 5px dashed #ffffff;
    margin: auto;

}

#main-nav-inferior {

    list-style-type: none;
    overflow: hidden;
    display: flex;
    padding: 0;
    margin: auto;
    border-bottom: 5px dashed #ffffff;


}

#main-nav-inferior li {
    flex-grow: 100;
    flex-basis: 0;
    z-index: 5;
}

#main-nav-superior li {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width:100px;
    padding: auto;
    flex-grow: 100;
    flex-basis: 0;
    z-index: 5;
}

#main-nav li a {

    display: block;
    color: white;
    text-align: center;
    margin: 16px auto 16px auto;
    text-decoration: none;

}


#main-wrapper {

    background-color: #000000;
    margin: 32px auto 32px auto;
    width: 450px;
    height: auto;
    z-index: 10;
    zoom: 1.25;
    -moz-transform: scale(1.25);

}

#main-banner {
    display: table;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    line-height: 250px;
    height:250px;
    width:100%;
    position: relative;
    margin:auto;
    overflow: hidden;
}

#main-banner span {

    display: inline-flex;
    vertical-align: middle;
    line-height: normal;
    font-size: 32px;
    z-index: 1000;

}

#main-banner a,p
{
    display: inline-flex;
    text-decoration: none;
    padding: auto;
    color: white;
    z-index: 1000;

}

#main-banner a:link {
    color: white;
}

#main-content {

    margin-bottom: 50px;

}

.project-overview {

    padding: 10px 10px 0 10px;
    height: 175px;
    background-color: #000000;
    width: inherit;
    opacity: 0;
    display: flex;
    position: relative;
    font-family: 'Open Sans', sans-serif;

}

.portfolio-overview {

    height: 175px;
    background-color: #000000;
    width: inherit;
    opacity: 0;
    display: flex;
    position: relative;
    font-family: 'Open Sans', sans-serif;

}


.project-image {

    display: block;
    width: 150px;
    height:150px;
    float:left;
    padding: 10px 10px 0px 0px;
    opacity: 0;


}

.resize-image {

    width: 150px;
    height:150px;

}

.project-summary {

    float:left;
    padding: 10px 5px 10px 5px;
    margin: auto;
    background-color: #000000;
    flex-grow: 100;
    text-align:center;
    color: white;


}

#main-footer {

    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;

}

#main-footer div {

    font-size: 10px;
    text-align: center;

}

.whitetext {

    text-align:center;
    color:white;
    font-family: 'Libre Baskerville', serif;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 10px;

}

a:visited {

    color:white;

}

#sidebar {

    position:absolute;
    display:block;
    border-color: white;
    border: solid;
    padding: 25px;


}

.section {

    border-color: white;
    border: solid;

}

.section-popup-button {

    border-bottom: solid;
    border-top: solid;
    border-color: white;
    cursor:pointer;
    font-size: 32px;
    text-decoration: none;

}

.section-popup-button p {

    margin: 0;

}

.popup {
    position: fixed;
    width: 70%;
    height: 100%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    z-index: 10000;
    text-align: center;
    color: white;
}

.popup p {

    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgba(0,0,0,100);

}

#background-code {

    position:fixed;
    left:64px;
    top:0px;
    z-index: -1000;
    font-family: 'Consolas', sans-serif;
    font-size: 10px;

}

#background-code-line {

    position:fixed;
    left:5px;
    top:0;
    margin: auto;
    padding-right: 5px;
    font-family: 'Consolas', sans-serif;
    font-size: 10px;
    text-align: right;
    color: rgb(43,145,175);


}